<template>
  <el-card shadow="never" class="aui-card--fill">
    <el-form :inline="true" v-model="SearchForm"  @keydown.enter.native.prevent="getDataList()">
      <el-form-item>
        <el-input v-model="SearchForm.name" placeholder="课题名称" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataList()">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button  type="success" @click="approve()"
          :disabled="dataListSelections.length <= 0">批量通过</el-button>
        <el-button  type="primary" @click="reject()"
          :disabled="dataListSelections.length <= 0">批量驳回</el-button>
          <el-button  type="danger" @click="del()"
          :disabled="dataListSelections.length <= 0">批量删除</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="dataList" border v-loading="dataListLoading" @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column type="selection" header-align="center" align="center" width="50">
      </el-table-column>
      <!-- <el-table-column prop="cgyId" header-align="center" align="center" label="课题id">
      </el-table-column> -->
      <el-table-column prop="name" header-align="center" align="center" label="申请学生">
      </el-table-column>
      <el-table-column prop="cgyName" header-align="center" align="center" label="课题名">
      </el-table-column>
      <el-table-column prop="teaName" header-align="center" align="center" :show-overflow-tooltip="true" label="审核老师">
      </el-table-column>
      <el-table-column prop="cgyStatus" header-align="center" align="center" label="审核情况">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.cgyStatus === 0" size="small" type="info">未审核</el-tag>
          <el-tag v-if="scope.row.cgyStatus === 1" size="small" type="danger">已驳回</el-tag>
          <el-tag v-if="scope.row.cgyStatus === 2" size="small" type="success">已通过</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="cgyLeadstatus" header-align="center" align="center" label="院系审核情况">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.cgyLeadstatus === 0" size="small" type="info">未审核</el-tag>
          <el-tag v-if="scope.row.cgyLeadstatus === 1" size="small" type="danger">已驳回</el-tag>
          <el-tag v-if="scope.row.cgyLeadstatus === 2" size="small" type="success">已通过</el-tag>
        </template>
      </el-table-column>
      <el-table-column fixed="right" header-align="center" align="center" width="260" label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small"
            @click="approve(scope.row.cgyId)">批准通过</el-button>
          <el-button  type="text" size="small" @click="reject(scope.row.cgyId)">驳回修改</el-button>
          <el-button  type="text" size="small" @click="detailed(scope.row)">查看详情</el-button>
          <el-button size="small"  type="text" @click="del(scope.row.cgyId)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
  </el-card>
</template>

<script>
import servicesApi from '@/services/servicesApi';
import AddOrUpdate from '@/views/Teacher/audit-detopic';
import debounce from 'lodash/debounce';
export default {
  data() {
    return {
      SearchForm: {
        name: '',
        cgySource: null,
        status: null,
      },
      dataList: [
        { 
         id: '',
         susername: '',
         createby: '',
         filename: '',
         advise: '', 
         status: 0
         }
      ],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      deleteList: {list: []},
      addOrUpdateVisible: false, // 新增／更新，弹窗visible状态
    }
  },
  activated() {
    this.getDataList()
  },
  created() {
    this.getDataList()
  },
  components: {
  AddOrUpdate
},
  methods: {
            //删除
            del(id) {
      let roleIds = id ? [id] : this.dataListSelections.map(item => {
      return item.id
    })
    this.deleteList.list = roleIds
      servicesApi.delTSchecktopic(this.deleteList).then(res => {
          // console.log(res.data)
          let code = res.data.code
          if (code === 200) {
              this.$message({
                  message: '删除成功',
                  type: 'success',
                  duration: 1000,
                  onClose: () => {
                      this.getDataList()
                  }
              })
          } else {
              this.$message({
                  message: res.data.msg,
                  type: 'danger',
                  duration: 1000,
                  onClose: () => {
                      this.getDataList()
                  }
              })
          }
      })
  },
    detailed(id) {
      this.addOrUpdateVisible = true
      this.$nextTick(() => {
        // this.$refs.addOrUpdate.dataForm.id = id
        this.$refs['addOrUpdate'].init(id)
      })
    },
    // 获取数据列表
    getDataList: debounce(function() {
      this.dataListLoading = true
      let pageInfo = {
        current: this.pageIndex,
        size: this.pageSize,
        name: this.SearchForm.name,
      }
      servicesApi.getTSchecktopic(pageInfo).then(res => {
        // console.log(res.data)
        let code =res.data.code
        let data = res.data.data
        if (code===200) {
          this.dataList = data.list
          this.totalPage = data.total
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    }, 1000, { 'leading': true, 'trailing': false }),
    // 每页数
    sizeChangeHandle(val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    // 当前页
    currentChangeHandle(val) {
      this.pageIndex = val
      this.getDataList()
    },
    // 多选
    selectionChangeHandle(val) {
      this.dataListSelections = val
      // console.log('多选')
      // console.log(this.dataListSelections)
    },
    //批准通过
    approve(id) {
      let userIds = id ? [id] : this.dataListSelections.map(item => {
        return item.cgyId
      })
      // console.log(userIds)
      this.$prompt('请输入通过意见', {
        confirmButtonText: '确定',
        cancelButtonText: '取消'
      })
      .then(({value}) => {
        // console.log(value)
        this.deleteList = userIds
        let checkList = {
        advise: value,
        list: this.deleteList,
        status: 2
      }
        servicesApi.checkTSchecktopic(checkList).then(res => {
          // console.log(res.data)
          let code = res.data.code
          if (code === 200) {
            this.$message({
              type: 'success',
              message: '批准通过成功',
              duration: 1500,
              onClose: () => {
                this.getDataList()
              }
            })
          } else {
            this.$message.error(res.data.msg)
          }
        })
      }).catch(() => {
            this.$message({
            type: 'warning',
            message: '取消批准通过'
          });  
       })
  },
  //驳回
    reject(id) {
      let userIds = id ? [id] : this.dataListSelections.map(item => {
        return item.cgyId
      })
      // console.log(userIds)
      this.$prompt('请输入驳回意见', {
        confirmButtonText: '确定',
        cancelButtonText: '取消'
      })
      .then(({value}) => {
        // console.log(value)
        this.deleteList = userIds
        let checkList = {
        advise: value,
        list: this.deleteList,
        status: 1
      }
        servicesApi.checkTSchecktopic(checkList).then(res => {
          // console.log(res.data)
          let code = res.data.code
          if (code === 200) {
            this.$message({
              type: 'success',
              message: '驳回成功',
              duration: 1500,
              onClose: () => {
                this.getDataList()
              }
            })
          } else {
            this.$message.error(res.data.msg)
          }
        })
      }).catch(() => {
            this.$message({
            type: 'info',
            message: '取消驳回'
          });  
       })
  },
  //驳回修改
  //   reject(id){
  //     var userIds = id ? [id] : this.dataListSelections.map(item => {
  //       return item.id
  //     })
  //     // console.log(userIds)
  //     this.$prompt('请输入驳回意见', {
  //       confirmButtonText: '确定',
  //       cancelButtonText: '取消'
  //     }).then(({advise}) => {
  //       // console.log(this.advise)
  //       this.deleteList.list =userIds
  //       let checkList = {
  //       advise: this.advise,
  //       list: this.deleteList,
  //       status: 1
  //     }
  //       servicesApi.checkpaperApi(checkList).then(res=>{
  //         // console.log(res.data)
  //         let code = res.data.code
  //         if (code === 200) {
  //           this.$message({
  //             type: 'success',
  //             message: '驳回成功',
  //             duration: 1500,
  //             onClose: () => {
  //               this.getDataList()
  //             }
  //           })
  //         } else {
  //           this.$message.error(res.data.msg)
  //         }
  //       })
  //     }).catch(() => {
  //           this.$message({
  //           type: 'info',
  //           message: '取消驳回'
  //         });  
  //      })
  // },
  }
}
</script>
