<template>
    <!-- :close-on-click-modal="false" //禁用点击空白区域
    :close-on-press-escape="false" //禁用ESC键 -->
    <el-dialog
      title="详细信息"
      :close-on-press-escape="false" 
      :close-on-click-modal="false"
      :append-to-body="true"
      :lock-scroll="true"
      :visible.sync="visible">
  
  
      <el-form  
      label-position="right"  label-width="150px"
      status-icon
      size="small"
      :model="dataForm"  ref="dataForm">
        <el-form-item label="id" prop="id">
          {{ dataForm.id}}
          <!-- <el-input v-model="dataForm.cgyType"  placeholder="密码"></el-input> -->
        </el-form-item>
        <el-form-item label="提交者姓名" prop="createby">
          {{ dataForm.createby}}
          <!-- <el-input v-model="dataForm.cgyType"  placeholder="密码"></el-input> -->
        </el-form-item>
        <el-form-item label="提交者学号" prop="susername">
          {{ dataForm.susername}}
          <!-- <el-input v-model="dataForm.cgyType"  placeholder="密码"></el-input> -->
        </el-form-item>
        <el-form-item label="选题意义或前景" prop="prospect">
          {{ dataForm.prospect }}
          <!-- <el-input v-model="dataForm.cgySource" placeholder="确认密码"></el-input> -->
        </el-form-item>
        <el-form-item label="研究方法路线" prop="route">
          {{ dataForm.route }}
          <!-- <el-input v-model="dataForm.tusername" placeholder="邮箱"></el-input> -->
        </el-form-item>
        <el-form-item label="总体安排计划" prop="plan">
          {{ dataForm.plan}}
          <!-- <el-input v-model="dataForm.teaName" placeholder="手机号"></el-input> -->
        </el-form-item>
        
        <el-form-item label="老师审核反馈信息" prop="advise" size="mini">
          {{ dataForm.advise }}
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="审核老师" prop="repTeacher" size="mini">
          {{ dataForm.repTeacher}}
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="审核状态" prop="status" size="mini">
          <!-- {{ dataForm.status == 0 ? '学生' : '教师'}} -->
            <el-tag v-if="(dataForm.status === 0)" size="small" effect="plain">未审核</el-tag>
            <el-tag v-else-if="(dataForm.status === 1)" size="small" effect="plain">已驳回</el-tag>
            <el-tag v-else-if="(dataForm.status === 2)" size="small" effect="plain">审核通过</el-tag>
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="提交时间" prop="gmtCreate" size="mini">
          {{ dataForm.gmtCreate }}
          <!-- <el-input v-model="dataForm.gmtCreate" placeholder="职称"></el-input> -->
        </el-form-item>
      </el-form>
  
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="visible = false">返回</el-button>
      </span>
    </el-dialog>
  </template>
  
  <script>
  import servicesApi from '@/services/servicesApi';
  export default {
    data() {
      return {
        visible: false,
        dataForm: {
            id: '',
           susername: '',
           prospect: '',
           route: '',
           plan: '',
           advise: '', 
           createby: '', 
           repTeacher: '', 
           repTeacher: '', 
           gmtCreate: '', 
           gmtModified: '', 
           status: null
        },
  
      }
    },
    methods: {
      init(cgyId) {
        // console.log(cgyId)
        this.dataForm.id = cgyId
        this.visible = true
        // 当数据被修改后使用这个方法，会回调获取更新后的dom再渲染出来
        // this.$nextTick(() => {
        //   this.$refs['dataForm'].resetFields()
        // })
        // servicesApi.getFlagList().then(res => {
        //   if (res.data.code === 200) {
        //     this.stateList = res.data.data //获取身份列表：学生、教师、管理员
        //     this.visible = true
        //     this.$nextTick(() => {
        //       this.$refs['dataForm'].resetFields()
        //     })
        //   }
        // })
  
        servicesApi.checkTdreport(this.dataForm.id).then(res => {
          let code = res.data.code
          let data = res.data.data
          // console.log('查询信息')
          if (code === 200) {
            // console.log(data)
            this.dataForm = data
          }
        })  
      },
    }
  }
  </script>
<style scoped>
  .el-form-item{
    font-size: larger;
    
  }
  .span{
    color: blueviolet;
  }
  </style>
  