<template>
  <el-card shadow="never" class="aui-card--fill">
    <el-form :inline="true" v-model="SearchForm" @keydown.enter.native.prevent="getDataList()">
      <el-form-item>
        <el-input clearable v-model="SearchForm.recordsId" placeholder="学生学号" type="text" show-word-limit />
      </el-form-item>
      <el-form-item>
        <el-button icon="" type="" @click="getDataList()">查询</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="dataList" border v-loading="dataListLoading" style="width: 100%">
      <el-table-column prop="susername" align="center" show-overflow-tooltip width="180" label="学生学号" header-align="center">
      </el-table-column>
      <el-table-column prop="stuName" align="center" show-overflow-tooltip width="180" label="姓名" header-align="center">
      </el-table-column>
      <el-table-column header-align="center" align="center" prop="cgyName" show-overflow-tooltip width="180" label="课题名">
      </el-table-column>
      <el-table-column prop="grade" align="center" show-overflow-tooltip width="180" label="中期成绩" header-align="center">
      </el-table-column>
      <el-table-column prop="status" header-align="center" align="center" label="提交情况" width="180">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 0" size="small" type="info">未提交</el-tag>
          <el-tag v-if="scope.row.status === 1" size="small" type="success">已提交</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作" fixed="right" align="center" header-align="center">
        <el-upload action="/teacher/uploadInspectionReport" multiple :limit="1" :on-success="handleUploadSuccess" :before-upload="beforeUpload">
          <el-button size="small" type="primary">上传中期报告</el-button>
        </el-upload>
      </el-table-column>
    </el-table>
    <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalPage">
    </el-pagination>
  </el-card>
</template>
<script>
import servicesApi from '@/services/servicesApi';
import debounce from 'lodash/debounce';
import AddOrUpdate from '@/views/Teacher/submit-final-report'
import FileUpload from '@/components/FileUpload.vue';
export default {
  name: 'Table',
  data () {
    return {
      SearchForm: {
        recordsId: '',
      },
      dataListLoading: false, //加载状态
      currentPage: 1,    // 当前页
      pageSize: 10,      // 每页大小，默认10
      totalPage: 0,     // 数据总数
      dataList: [],     // 原始table数据
    }
  },
  created () {
    this.getDataList()   // 页面初始化，请求数据并在表格显示
  },
  components: {
    AddOrUpdate,
    FileUpload
  },
  methods: {
    // 获取数据
    getDataList: debounce(function () {
      this.dataListLoading = true
      let pageInfo = {
        current: this.currentPage,
        size: this.pageSize,
        name: this.SearchForm.recordsId
      }
      this.$servicesApi.getTmguidance(pageInfo).then(res => {
        let code = res.data.code
        let data = res.data.data
        if (code === 200) {
          this.dataList = data.list
          this.totalPage = data.total
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })
    }, 1000, { 'leading': true, 'trailing': false }),

    // 文件上传前的处理
    beforeUpload (file) {
      this.file = file;
      return true;
    },

    // 文件上传成功后的处理
    handleUploadSuccess (response, file, fileList) {
      let returnPath = response.path;
      let stage = 0;
      this.submitMidReport(returnPath, stage);
    },

    // 提交中期报告
    submitMidReport (returnPath, stage) {
      servicesApi.submitmidreport(returnPath, stage).then(res => {
        if (res.data.code === 200) {
          row.status = 1;
          this.$message({
            message: '操作成功',
            type: 'success',
            duration: 500,
          });
        }
        else {
          this.$message.error(res.data.msg);
        }
      });
    },

    // 1.改变页面选项触发的方法（val:显示的每页大小）
    sizeChangeHandle (val) {
      this.currentPage = 1;   // 跳转第一页
      this.pageSize = val     // 每页大小赋值给绑定的pageSize
      this.getDataList()
    },
    // 2.改变页码触发的方法(val:触发的当前页码)
    currentChangeHandle (val) {
      this.currentPage = val;  // 跳转当前页
      this.getDataList()
    },
    // 3.排序监听
    sortChange (column) {
      this.dataList = this.dataList.sort(
        this.SortFun(column.prop, column.order === 'ascending')
      );
      this.showDataList = this.dataList.slice(0, this.pageSize);
      this.pageIndex = 1;
    },

    // 4.排序方法
    SortFun (attr, rev) {
      this.pageIndex = 1;
      if (rev == undefined) {
        rev = 1;
      } else {
        rev = rev ? 1 : -1;
      }
      return function (a, b) {
        a = a[attr];
        b = b[attr];
        if (a != null) {
          if (typeof a == 'string') {
            if (a.split(' ').length === 2) {
              if (a < b) {
                return rev * -1;
              }
              if (a > b) {
                return rev * 1;
              }
              return 0;
            } else if (!isNaN(a)) {
              if (parseFloat(a) < parseFloat(b)) {
                return rev * -1;
              }
              if (a > b) {
                return rev * 1;
              }
              return 0;
            }
            else {
              if (a < b) {
                return rev * -1;
              }
              if (a > b) {
                return rev * 1;
              }
              return 0;
            }
          }
          if (typeof a == 'number') {
            if (a < b) {
              return rev * -1;
            }
            if (a > b) {
              return rev * 1;
            }
            return 0;
          }
        }
      };
    },
  },
};
</script>

 