<template>
    <el-card shadow="never" class="aui-card--fill">
        <div style="">
                    <el-row v-show="ruleForm">
                        <el-form :model="ruleForm"  :rules="rules"  ref="ruleForm">
                            <el-row :gutter="12" style="margin-top:60px;">
                                <el-col :span="5">
                                    <div style="text-align:right;"><span>姓名：</span></div>
                                </el-col>
                                <el-col :span="4">
                                    <el-form-item prop="teaName">
                                        
                                        <!-- {{ruleForm.teaName}} -->
                                        <el-input type="text" style="width:250px" v-model="ruleForm.teaName" placeholder="请输入姓名" readonly></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <div style="text-align:right;"><span>职工号：</span></div>
                                </el-col>
                                <el-col :span="4">
                                    <el-form-item prop="username">
                                        <!-- {{ruleForm.username}} -->
                                        <el-input type="text" style="width:250px" v-model="ruleForm.username" placeholder="请输入教师id" readonly></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="12" style="margin-top:1px;">
                                <el-col :span="5">
                                    <div style="text-align:right;"><span>性别：</span></div>
                                </el-col>
                                <el-col :span="4">
                                    <el-form-item prop="teaSex">
                                        <el-select style="width:250px" v-model="ruleForm.teaSex" placeholder="性别">
                                            <el-option v-for="item in getDictList('gender')" :label="item.dictLabel"  :key="item.id" :value="item.dictLabel"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <div style="text-align:right;"><span>邮 箱：</span></div>
                                </el-col>
                                <el-col :span="4">
                                    <el-form-item prop="teaEmail" :rules="[{ required: true, message: '邮箱不能为空', trigger: 'blur' },{ type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }]">
                                        <el-input type="text" style="width:250px" v-model="ruleForm.teaEmail" placeholder="请输入邮箱号" ></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="12" style="margin-top:1px;">
                                <el-col :span="5">
                                    <div style="text-align:right;"><span>学历：</span></div>
                                </el-col>
                                <el-col :span="4">
                                    <el-form-item prop="teaRecord">
                                        <el-select style="width:250px" v-model="ruleForm.teaRecord" placeholder="学历">
                                            <el-option v-for="item in getDictList('degree')" :label="item.dictLabel"  :key="item.id" :value="item.dictLabel"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <div style="text-align:right;"><span>职 称：</span></div>
                                </el-col>
                                <el-col :span="4">
                                    <el-form-item prop="teaPost">
                                        <el-select style="width:250px" v-model="ruleForm.teaPost" placeholder="教师职称">
                                            <el-option v-for="item in getDictList('teacherTitle')" :label="item.dictLabel"  :key="item.id" :value="item.dictLabel"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="12" style="margin-top:1px;">
                                <el-col :span="5">
                                    <div style="text-align:right;"><span>电话：</span></div>
                                </el-col>
                                <el-col :span="4">
                                    <el-form-item prop="teaPhone" :rules="[{ required: true, message: '电话不能为空', trigger: 'blur' },{ type: 'number',message: '手机号格式不正确',trigger: 'blur',transform(value) {var phonereg = 11 && /^((13|14|15|16|17|18|19)[0-9]{1}\d{8})$/
                                            if (!phonereg.test(value)) {
                                                return false
                                            } else {
                                                    return Number(value)
                                            }
                                        }
                                    }]">
                                        <el-input type="text" style="width:250px" v-model="ruleForm.teaPhone" placeholder="请输入电话" ></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="6">
                                    <div style="text-align:right;"><span>院 系：</span></div>
                                </el-col>
                                <el-col :span="4">
                                    <el-form-item prop="teaDepartment">
                                        <el-select filterable style="width:250px" v-model="ruleForm.teaDepartment" placeholder="所在院系">
                                            <el-option v-for="item in getDictList('department')" :label="item.dictLabel"  :key="item.id" :value="item.dictLabel"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row :gutter="12" style="margin-top:10px;">
                                <el-col :span="24" style="text-align:center;">
                                    <!-- <el-button plain round size="medium" @click="editDialogVisible = false">取 消</el-button> -->
                                    <el-button  @click="resetForm('ruleForm')">重置</el-button>
                                    <el-button type="primary" @click="submitForm('ruleForm')">修改</el-button>
                                </el-col>
                            </el-row>
                        </el-form>
                    </el-row>
                </div>
            <div>
        </div>
    </el-card>
</template>
<script>

import servicesApi from '@/services/servicesApi';
import storageService from '@/store/storage';
import { getDictDataList } from '@/utils';
import debounce from 'lodash/debounce';
export default {
    data() {
    //   let checkpassword = (rule, value, callback) => {
    //     if (!value) {
    //       return callback(new Error('密码不能为空'));
    //     }
    //     else if (this.ruleForm.password2 !== '') {
    //         this.$refs.ruleForm.validateField('password2');
    //       callback();
    //     }
    //   };
    //   let checkpassword2 = (rule, value, callback) => {
    //     if (!value) {
    //       return callback(new Error('确认密码不能为空'));
    //     }
    //     else if (value !== this.ruleForm.password) {
    //       callback(new Error('两次输入密码不一致!'));
    //     } else {
    //       callback();
    //     }
    //   };

        return {
           ruleForm: {
                username: '',
                teaName: '',
                teaSex: '',
                teaRecord: '',
                teaDepartment: '',
                teaPost: '',
                teaPhone: '',
                teaEmail: '',
                password: ''
            },

        rules: {
        //   password: [
        //     { validator: checkpassword, trigger: 'blur' }
        //   ],
        //   password2: [
        //     { validator: checkpassword2, trigger: 'blur' }
        //   ]
        }

        }
    },
    created() {
        this.getData()
    },
    methods: {
    getDictList(dictType) {
      let list = getDictDataList(dictType)
      // // console.log(list)
      return list
    },
    //初始化回填数据
    getData() {
            let userId = storageService.getAccountId()
            servicesApi.getUserById(userId).then(res => {
                let data = res.data.data
                if (res.data.code !== 200) {
                return this.$message.error(res.data.msg)
                }
                // console.log('教师个人信息：')
                // console.log(this.ruleForm)
                this.ruleForm = data
                // console.log(res.data.data)
                this.$store.state.user.userId = data.userId
                this.$store.state.user.username = data.username
                this.$store.state.user.state = data.state
                // console.log(this.$store.state.user)
            })
        },
    submitForm: debounce(function() {
        this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
            servicesApi.editteachermanageApi(this.ruleForm).then(res => {//将form表单作为参数
            // console.log(res)
            if (res.data.code===200) {
                this.$message.success('修改成功');
                this.getData()
                // this.form = {}
            } else {
                this.$message.success('修改失败');
            }
        })
        }
        })
      }, 1000, { 'leading': true, 'trailing': false }),
    resetForm: debounce(function(formName) {
        // this.$refs[formName].resetFields();
        this.getData()
      }, 1000, { 'leading': true, 'trailing': false })
    }
}
</script>

<style scoped>
    .name{ text-align: right; }
    .value{ text-align: left; }
</style>