<template>
    <!-- :close-on-click-modal="false" //禁用点击空白区域
    :close-on-press-escape="false" //禁用ESC键 -->
    <el-dialog
      title="详细信息"
      :close-on-press-escape="false" 
      :close-on-click-modal="false"
      :append-to-body="true"
      :lock-scroll="true"
      :visible.sync="visible">
  
  
      <el-form  
      label-position="right"  label-width="150px"
      status-icon
      size="small"
      :model="dataForm"  ref="dataForm">
        <el-form-item label="课题id" prop="cgyId">
          {{ dataForm.cgyId}}
          <!-- <el-input v-model="dataForm.cgyType"  placeholder="密码"></el-input> -->
        </el-form-item>
        <el-form-item label="课题名" prop="cgyName">
          {{ dataForm.cgyName }}
          <!-- <el-input v-model="dataForm.cgySource" placeholder="确认密码"></el-input> -->
        </el-form-item>
        <el-form-item label="课题来源" prop="route">
         {{ dataForm.cgySource == 1 ? '学生' : '教师'}}
          <!-- <el-input v-model="dataForm.tusername" placeholder="邮箱"></el-input> -->
        </el-form-item>
        <el-form-item label="审核老师" prop="plan">
          {{ dataForm.teaName}}
          <!-- <el-input v-model="dataForm.teaName" placeholder="手机号"></el-input> -->
        </el-form-item>
        
        <el-form-item label="课题描述" prop="advise" size="mini">
          {{ dataForm.describes }}
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="教师审核建议" prop="advise" size="mini">
          {{ dataForm.cgyAdvise }}
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="院系教师审核建议" prop="advise" size="mini">
          {{ dataForm.cgyLeadadvice }}
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="教师审核状态" prop="cgyStatus	" size="mini">
          <!-- {{ dataForm.status == 0 ? '学生' : '教师'}} -->
            <el-tag v-if="(dataForm.cgyStatus	 === 0)" size="small" effect="plain">未审核</el-tag>
            <el-tag v-else-if="(dataForm.cgyStatus	 === 1)" size="small" effect="plain" type="danger">已驳回</el-tag>
            <el-tag v-else-if="(dataForm.cgyStatus	 === 2)" size="small" effect="plain" type="success">审核通过</el-tag>
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="院系教师审核状态" prop="cgyLeadstatus	" size="mini">
          <!-- {{ dataForm.status == 0 ? '学生' : '教师'}} -->
            <el-tag v-if="(dataForm.cgyLeadstatus	 === 0)" size="small" effect="plain" >未审核</el-tag>
            <el-tag v-else-if="(dataForm.cgyLeadstatus	 === 1)" size="small" effect="plain" type="danger">已驳回</el-tag>
            <el-tag v-else-if="(dataForm.cgyLeadstatus	 === 2)" size="small" effect="plain" type="success">审核通过</el-tag>
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="提交时间" prop="gmtCreate" size="mini">
          {{ dataForm.gmtCreate }}
          <!-- <el-input v-model="dataForm.gmtCreate" placeholder="职称"></el-input> -->
        </el-form-item>
        <el-form-item label="修改时间" prop="gmtCreate" size="mini">
          {{ dataForm.gmtModified }}
          <!-- <el-input v-model="dataForm.gmtCreate" placeholder="职称"></el-input> -->
        </el-form-item>
      </el-form>
  
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="visible = false">返回</el-button>
      </span>
    </el-dialog>
  </template>
  
  <script>
  import servicesApi from '@/services/servicesApi';
  export default {
    data() {
      return {
        visible: false,
        dataForm: {
            id: '',
           susername: '',
           prospect: '',
           route: '',
           plan: '',
           advise: '', 
           createby: '', 
           repTeacher: '', 
           repTeacher: '', 
           gmtCreate: '', 
           gmtModified: '', 
           status: null
        },
  
      }
    },
    methods: {
      init(cgyId) {
        // console.log(cgyId)
        this.dataForm = cgyId
        this.visible = true
        // 当数据被修改后使用这个方法，会回调获取更新后的dom再渲染出来
        // this.$nextTick(() => {
        //   this.$refs['dataForm'].resetFields()
        // })
        // servicesApi.getFlagList().then(res => {
        //   if (res.data.code === 200) {
        //     this.stateList = res.data.data //获取身份列表：学生、教师、管理员
        //     this.visible = true
        //     this.$nextTick(() => {
        //       this.$refs['dataForm'].resetFields()
        //     })
        //   }
        // })
  
        // servicesApi.checkTdreport(this.dataForm.id).then(res => {
        //   let code = res.data.code
        //   let data = res.data.data
        //   // console.log('查询信息')
        //   if (code === 200) {
        //     // console.log(data)
        //     this.dataForm = data
        //   }
        // })  
      },
    }
  }
  </script>
<style scoped>
  .el-form-item{
    font-size: larger;
    
  }
  .span{
    color: blueviolet;
  }
  </style>
  