<template>
    <!-- :close-on-click-modal="false" //禁用点击空白区域
    :close-on-press-escape="false" //禁用ESC键 -->
    <el-dialog
      title="详细信息"
      :close-on-press-escape="false" 
      :close-on-click-modal="false"
      :append-to-body="true"
      :lock-scroll="true"
      :visible.sync="visible">
  
  
      <el-form  
      label-position="right"  label-width="150px"
      status-icon
      size="small"
      :model="dataForm"  ref="dataForm">
        <el-form-item label="指导记录id" prop="recordsId">
          {{ dataForm.recordsId}}
          <!-- <el-input v-model="dataForm.cgyType"  placeholder="密码"></el-input> -->
        </el-form-item>
        <el-form-item label="账号" prop="prospect">
          {{ dataForm.username }}
          <!-- <el-input v-model="dataForm.cgySource" placeholder="确认密码"></el-input> -->
        </el-form-item>
        <el-form-item label="姓名" prop="prospect">
          {{ dataForm.name }}
          <!-- <el-input v-model="dataForm.cgySource" placeholder="确认密码"></el-input> -->
        </el-form-item>
        <el-form-item label="所属学院" prop="prospect">
          {{ dataForm.department }}
          <!-- <el-input v-model="dataForm.cgySource" placeholder="确认密码"></el-input> -->
        </el-form-item>
        <el-form-item v-if="dataForm.state===1" label="指导教师" prop="route">
          {{ dataForm.reTeacher}}
          <!-- <el-input v-model="dataForm.tusername" placeholder="邮箱"></el-input> -->
        </el-form-item>
        <el-form-item v-if="dataForm.state===1" label="对指导老师建议" prop="plan">
          {{ dataForm.reAdvise}}
          <!-- <el-input v-model="dataForm.teaName" placeholder="手机号"></el-input> -->
        </el-form-item>
        
        <el-form-item label="指导内容" prop="advise" size="mini">
          {{ dataForm.reImfor }}
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="指导收获" v-if="dataForm.state===1" prop="advise" size="mini">
          {{ dataForm.reHarvest }}
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="学生学习情况" prop="advise" v-if="dataForm.state===2" size="mini">
          {{ dataForm.stuSituation }}
          <!-- <el-input v-model="dataForm.cgyAdvise" placeholder="院系"></el-input> -->
        </el-form-item>
        <el-form-item label="提交时间" prop="gmtCreate" size="mini">
          {{ dataForm.gmtCreate }}
          <!-- <el-input v-model="dataForm.gmtCreate" placeholder="职称"></el-input> -->
        </el-form-item>
        <el-form-item label="修改时间" prop="gmtCreate" size="mini">
          {{ dataForm.gmtModified }}
          <!-- <el-input v-model="dataForm.gmtCreate" placeholder="职称"></el-input> -->
        </el-form-item>
      </el-form>
  
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="visible = false">返回</el-button>
      </span>
    </el-dialog>
  </template>
  
  <script>
  import servicesApi from '@/services/servicesApi';
  export default {
    data() {
      return {
        visible: false,
        dataForm: {
            recordsId: '',
           name: '',
           username: '',
           state: '',
           reTeacher: '',
           reHarvest: '', 
           reAdvise: '', 
           reTarget: '', 
           department: '',
           stuSituation: '', 
           reImfor: '', 
           gmtCreate: '', 
           gmtModified: '',
           status: null
        },
  
      }
    },
    methods: {
      init(cgyId) {
        // console.log(cgyId)
        this.dataForm.recordsId = cgyId
        this.visible = true
        // 当数据被修改后使用这个方法，会回调获取更新后的dom再渲染出来
        // this.$nextTick(() => {
        //   this.$refs['dataForm'].resetFields()
        // })
        // servicesApi.getFlagList().then(res => {
        //   if (res.data.code === 200) {
        //     this.stateList = res.data.data //获取身份列表：学生、教师、管理员
        //     this.visible = true
        //     this.$nextTick(() => {
        //       this.$refs['dataForm'].resetFields()
        //     })
        //   }
        // })
  
        servicesApi.checkTdguidance(this.dataForm.recordsId).then(res => {
          let code = res.data.code
          let data = res.data.data
          // console.log('查询信息')
          if (code === 200) {
            // console.log(data)
            this.dataForm = data
          }
        })  
      },
    }
  }
  </script>
<style scoped>
  .el-form-item{
    font-size: larger;
    
  }
  .span{
    color: blueviolet;
  }
  </style>
  