<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <!-- //keywords:向搜索引擎说明你的网页的关键词-->
    <meta name="keywords" content="毕业设计过程管理系统,师生双选,过程管理,权限管理RBAC,菜单管理,日志管理,字典管理">
    <!-- description:告诉搜索引擎你的站点的主要内容-->
    <meta name="description" content="毕设管理是一个提供大学生毕业设计过程管理平台的网站,实现了师生双选,过程管理,权限管理RBAC,菜单管理,日志管理,字典管理等功能">
    <!-- author:网站作者-->
    <meta name="autor" content="四川师范大学">
    <!-- 优先打开edge和chrome浏览器-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome = 1">
    <!-- 禁用移动端缩放-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>SicnuLogo.ico">
    <link rel="canoncal" href="http://47.109.101.181:8088/">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- 站点配置 -->
  <script>
    window.SITE_CONFIG = {};
    window.SITE_CONFIG['version'] = 'v5.0.0';
    window.SITE_CONFIG['nodeEnv'] = '<%= process.env.NODE_ENV %>';
    window.SITE_CONFIG['apiURL'] = '';                      // api请求地址
    window.SITE_CONFIG['storeState'] = {};                  // vuex本地储存初始化状态（用于不刷新页面的情况下，也能重置初始化项目中所有状态）
    window.SITE_CONFIG['contentTabDefault'] = {             // 内容标签页默认属性对象
      'name': '',        // 名称, 由 this.$route.name 自动赋值（默认，名称 === 路由名称 === 路由路径）
      'params': {},      // 参数, 由 this.$route.params 自动赋值
      'query': {},       // 查询参数, 由 this.$route.query 自动赋值
      'menuId': '',      // 菜单id（用于选中侧边栏菜单，与this.$store.state.sidebarMenuActiveName进行匹配）
      'title': '',       // 标题
      'isTab': true,     // 是否通过tab展示内容?
      'iframeURL': ''    // 是否通过iframe嵌套展示内容? (以http[s]://开头, 自动匹配)
    };
    window.SITE_CONFIG['menuList'] = [];                     // 左侧菜单列表（后台返回，未做处理）
    window.SITE_CONFIG['permissions'] = [];                  // 页面按钮操作权限（后台返回，未做处理）
    window.SITE_CONFIG['dynamicRoutes'] = [];                // 动态路由列表
    window.SITE_CONFIG['dynamicMenuRoutes'] = [];            // 动态(菜单)路由列表
    window.SITE_CONFIG['dynamicMenuRoutesHasAdded'] = false; // 动态(菜单)路由是否已经添加的状态标示（用于判断是否需要重新拉取数据并进行动态添加操作）
  </script>
  
  <!-- 开发环境 -->
  <% if (process.env.NODE_ENV === 'development') { %>
    <script>
    window.SITE_CONFIG['apiURL'] = 'http://47.109.101.181:8082';
    </script>
  <% } %>
  <!-- 集成测试环境 -->
  <!-- <% if (process.env.NODE_ENV === 'prod:sit') { %>
    <script>
      window.SITE_CONFIG['apiURL'] = 'http://47.109.101.181:8082';
    </script>
  <% } %> -->
  <!-- 验收测试环境 -->
  <!-- <% if (process.env.NODE_ENV === 'prod:uat') { %>
    <script>
      window.SITE_CONFIG['apiURL'] = 'http://47.109.101.181:8082';
    </script>
  <% } %> -->
  <!-- 生产环境 -->
  <% if (process.env.NODE_ENV === 'prod') { %>
    <script>
      window.SITE_CONFIG['apiURL'] = 'http://47.109.101.181:8082';
    </script>
  <% } %>
    
  <!-- 使用CDN的CSS文件 -->
    <% for (var i in htmlWebpackPlugin.options.cdn && htmlWebpackPlugin.options.cdn.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cdn.css[i] %>" />
    <% } %>

  <!-- 使用CDN的JS文件 -->
    <% for (var i in htmlWebpackPlugin.options.cdn && htmlWebpackPlugin.options.cdn.js) { %>
    <script src="<%= htmlWebpackPlugin.options.cdn.js[i] %>"></script>
    <% } %>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
