<template>
  <el-form>
    <h2>布局设置</h2>
    <el-form-item label="导航条类型">
      <el-radio-group v-model="navbarLayoutType">
        <el-radio label="default" border>默认</el-radio>
        <el-radio label="colorful" border>蓝色</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="侧边栏皮肤">
      <el-radio-group v-model="sidebarLayoutSkin">
        <el-radio label="light" border>白色</el-radio>
        <el-radio label="dark" border>黑色</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-button type="primary" @click="$router.replace({name:'home'})">
      设置完成
    </el-button>
  </el-form>
</template>

<script>
  export default {
    computed: {
      navbarLayoutType: {
        get() { return this.$store.state.navbarLayoutType },
        set(val) { this.$store.commit('updateNavbarLayoutType', val) }
      },
      sidebarLayoutSkin: {
        get() { return this.$store.state.sidebarLayoutSkin },
        set(val) { this.$store.commit('updateSidebarLayoutSkin', val) }
      }
    }
  }
</script>

