<!-- <template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="mod-sys__log-login">
      <el-form :inline="true" :model="dataForm" @submit.native.prevent  @keydown.enter.native.prevent="getDataList()">
        <!-- @submit.native.prevent
        .native 表示对一个组件绑定系统原生事件
        .prevent 表示提交以后不刷新页面 -->
        <el-form-item>
          <el-input v-model="dataForm.name" placeholder="用户名" ></el-input>
        </el-form-item>
        <!-- <el-form-item>
          <el-select filterable v-model="dataForm.status" placeholder="状态" clearable>
            <el-option label="失败" :value="0"></el-option>
            <el-option label="成功" :value="1"></el-option>
            <el-option label="账号已锁定" :value="2"></el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item>
          <el-button @click="getDataList()">查询</el-button>
        </el-form-item>
        <!-- <el-form-item>
          <el-button type="info" @click="exportHandle()">导出</el-button>
        </el-form-item> -->
      </el-form>
      <el-table v-loading="dataListLoading" :data="dataList" border  style="width: 100%;">
        <el-table-column prop="loginUsername" label="用户名" header-align="center" align="center"></el-table-column>
        <el-table-column prop="operation" label="操作类型" header-align="center" align="center">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.operation === 1 " size="small" >登录</el-tag> 
            <el-tag v-if="scope.row.operation === 0 " size="small" type="warning" >退出</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="status" label="状态" sortable header-align="center" align="center">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.status === 0" size="small" type="danger">失败</el-tag>
            <el-tag v-else-if="scope.row.status === 1" size="small" type="success">成功</el-tag>
            <el-tag v-else size="small" type="warning">账号已锁定</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="ip" label="操作IP" header-align="center" align="center"></el-table-column>
        <!-- <el-table-column prop="userAgent" label="User-Agent" header-align="center" align="center" width="150" :show-overflow-tooltip="true"></el-table-column> -->
        <el-table-column prop="gmtCreate" label="创建时间" sortable header-align="center" align="center" width="180"></el-table-column>
      </el-table>
      <el-pagination
        :current-pageIndex="pageIndex"
        :pageIndex-sizes="[10, 20, 50, 100]"
        :pageIndex-size="pageSize"
        :total="totalPage"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="pageSizeChangeHandle"
        @current-change="pageCurrentChangeHandle">
      </el-pagination>
    </div>
  </el-card>
</template>

<script>
import servicesApi from '@/services/servicesApi';

export default {
  data() {
    return {
      dataForm: {
          name: '',
          status: null,
      },
      dataList: [
        { loginUsername: 'admin', operation: 0, status: 0, ip: '112.9.122.107', gmtCreate: '2022-11-12 20:51:04'},
        { loginUsername: 'teacher', operation: 1, status: 1, ip: '112.9.122.107', gmtCreate: '2022-11-12 20:51:04' },
        { loginUsername: 'student', operation: 1, status: 2, ip: '112.9.122.107', gmtCreate: '2022-11-12 20:51:04' },
      ],               // 数据列表
      order: '',                  // 排序，asc／desc
      orderField: '',             // 排序，字段
      pageIndex: 1,                    // 当前页码
      pageSize: 10,                  // 每页数
      totalPage: 0,                   // 总条数
      dataListLoading: false,     // 数据列表，loading状态
      dataListSelections: [],     // 数据列表，多选项
      addOrUpdateVisible: false   // 新增／更新，弹窗visible状态
    };
  },
  components: { 
  },
  created() {
    this.query()
  },
  methods: {
    // 获取数据列表
    query() {
      this.dataListLoading = true
      let pageInfo = {
        current: this.pageIndex,
        size: this.pageSize,
        name: this.dataForm.name,
      } 
      servicesApi.getLoginLog(pageInfo).then(res => {
        this.dataListLoading = false
        let code = res.data.code
        let data = res.data.data
        let msg = res.data.msg
        if (code !== 200) {
          this.dataList = []
          this.total = 0
          return this.$message.error(msg)
        }
        this.dataList = data.list
        this.totalPage = data.total
      })
      // this.dataListLoading = true
      // this.$http.get(
      //   this.mixinViewModuleOptions.getDataListURL,
      //   {
      //     params: {
      //       order: this.order,
      //       orderField: this.orderField,
      //       pageIndex: this.mixinViewModuleOptions.getDataListIsPage ? this.pageIndex : null,
      //       pageSize: this.mixinViewModuleOptions.getDataListIsPage ? this.pageSize : null,
      //       ...this.dataForm
      //     }
      //   }
      // ).then(({ data: res }) => {
      //   this.dataListLoading = false
      //   if (res.code !== 0) {
      //     this.dataList = []
      //     this.total = 0
      //     return this.$message.error(res.msg)
      //   }
      //   this.dataList = this.mixinViewModuleOptions.getDataListIsPage ? res.data.list : res.data
      //   this.total = this.mixinViewModuleOptions.getDataListIsPage ? res.data.total : 0
      // }).catch(() => {
      //   this.dataListLoading = false
      // })
    },
    // 多选
    dataListSelectionChangeHandle(val) {
      this.dataListSelections = val
    },
    // 排序
    dataListSortChangeHandle(data) {
      if (!data.order || !data.prop) {
        this.order = ''
        this.orderField = ''
        return false
      }
      this.order = data.order.replace(/ending$/, '')
      this.orderField = data.prop.replace(/([A-Z])/g, '_$1').toLowerCase()
      this.query()
    },
    // 分页, 每页条数
    pageSizeChangeHandle(val) {
      this.pageIndex = 1
      this.pageSize = val
      this.query()
    },
    // 分页, 当前页
    pageCurrentChangeHandle(val) {
      this.pageIndex = val
      this.query()
    },
    getDataList: function() {
      this.pageIndex = 1
      this.query()
    },
    // 关闭当前窗口
    closeCurrentTab(data) {
      // var tabName = this.$store.state.contentTabsActiveName
      // this.$store.state.contentTabs = this.$store.state.contentTabs.filter(item => item.name !== tabName)
      // if (this.$store.state.contentTabs.length <= 0) {
      //   this.$store.state.sidebarMenuActiveName = this.$store.state.contentTabsActiveName = 'home'
      //   return false
      // }
      // if (tabName === this.$store.state.contentTabsActiveName) {
      //   this.$router.push({ name: this.$store.state.contentTabs[this.$store.state.contentTabs.length - 1].name })
      // }
    },
    // 导出
    exportHandle() {
      // var params = qs.stringify({
      //   'token': Cookies.get('token'),
      //   ...this.dataForm
      // })
      // window.location.href = `${window.SITE_CONFIG['apiURL']}${this.mixinViewModuleOptions.exportURL}?${params}`
    }
  }
}
</script> -->
