<template>
  <el-card shadow="never" class="aui-card--fill">
    <el-form :inline="true" :model="SearchForm"  @keydown.enter.native.prevent="getDataList()">
      <el-form-item>
        <el-input v-model="SearchForm.rolename" placeholder="角色名称" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataList()">查询</el-button>
        <el-button  type="primary" @click="addOrUpdateHandle()">新增</el-button>
        <el-button  type="danger" @click="deleteHandle()"
          :disabled="dataListSelections.length <= 0">批量删除</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="dataList" border v-loading="dataListLoading" 
    @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column type="selection" header-align="center" align="center" width="50">
      </el-table-column>
      <el-table-column prop="id" header-align="center" align="center" width="80" label="ID">
      </el-table-column>
      <el-table-column prop="name" header-align="center" align="center" label="角色名称">
      </el-table-column>
      <el-table-column prop="remark" header-align="center" align="center" label="备注">
      </el-table-column>
      <el-table-column prop="gmtCreate" header-align="center" align="center" width="180" label="创建时间">
      </el-table-column>
      <el-table-column fixed="right" header-align="center" align="center" width="150" label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="memberSet(scope.row)">成员维护</el-button>
          <el-button type="text" size="small" @click="permSet(scope.row)">权限维护</el-button>
          <el-button type="text" size="small" @click="addOrUpdateHandle(scope.row.id)">修改</el-button>
          <el-button type="text" size="small" @click="deleteHandle(scope.row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗, 新增 / 修改 -->
    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
    <!-- 成员维护 -->
    <role-user v-if="memberSetVisble" ref="memberSet" @refreshDataList="getDataList"></role-user>
    <!-- 权限维护 -->
    <role-perm v-if="permSetVisble" ref="permSet" @refreshDataList="getDataList"></role-perm>
  </el-card>
</template>

<script>
import AddOrUpdate from './role-add-or-update'
import RoleUser from './role-user.vue'
import RolePerm from './role-perm.vue'
import servicesApi from '@/services/servicesApi'
export default {
  data() {
    return {
      SearchForm: {
        rolename: ''
      },
      dataList: [
        { id: 1, name: '管理员', remark: '管理员', gmtCreate: (new Date()).toLocaleDateString().toString() +' '+ (new Date()).toLocaleTimeString().toString() },
        { id: 2, name: '学生', remark: '学生', gmtCreate: '2022/10/30 17:22:12' },
        { id: 3, name: '教师', remark: '教师', gmtCreate: '2022/10/30 17:22:13' },
      ],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false,
      memberSetVisble: false,
      permSetVisble: false,
      deleteList: {
        list: []
      }
    }
  },
  components: {
    AddOrUpdate,
    RoleUser,
    RolePerm,
  },
  created() {
    this.getDataList()
  },
  activated() {
    this.getDataList()
  },
  methods: {
    memberSet(row) {//成员维护：把角色分配给哪些用户
      this.memberSetVisble = true
      this.$nextTick(() => {
        this.$refs['memberSet'].init(row)
      })
    },
    permSet(row) {//权限维护：给角色分配权限
      this.permSetVisble = true
      this.$nextTick(() => {
        this.$refs['permSet'].init(row)
      })
    },
    getDataList() {// 获取数据列表
      // this.dataListLoading = true
      // this.totalPage = this.dataList.length
      // this.dataListLoading = false
      
      this.dataListLoading = true
      let pageInfo = {
        current: this.pageIndex,
        size: this.pageSize,
        name: this.SearchForm.rolename
      }
      servicesApi.getRoleList(pageInfo).then(res => {
        // console.log(res.data)
        let code = res.data.code
        let data = res.data.data
        if (code === 200) {
          this.dataList = data.list
          this.totalPage = data.total // res.data.totalCount
        } else {
          this.dataList = []
          this.totalPage = 0
          this.$message.error(res.data.msg)
        }
        this.dataListLoading = false
      })

      // this.$http({
      //   url: this.$http.adornUrl('/sys/role/list'),
      //   method: 'get',
      //   params: this.$http.adornParams({
      //     'page': this.pageIndex,
      //     'limit': this.pageSize,
      //     'name': this.dataForm.name
      //   })
      // }).then(({ data }) => {
      //   if (data && data.code === 0) {
      //     this.dataList = data.page.list
      //     this.totalPage = data.page.totalCount
      //   } else {
      //     this.dataList = []
      //     this.totalPage = 0
      //   }
      //   this.dataListLoading = false
      // })
    },
    // 每页数
    sizeChangeHandle(val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    // 当前页
    currentChangeHandle(val) {
      this.pageIndex = val
      this.getDataList()
    },
    // 多选
    selectionChangeHandle(val) {
      this.dataListSelections = val
    },
    // 新增 / 修改
    addOrUpdateHandle(id) {
      this.addOrUpdateVisible = true
      this.$nextTick(() => {
        this.$refs['addOrUpdate'].init(id)
      })
    },
    // 删除
    deleteHandle(id) {
      let roleIds = id ? [id] : this.dataListSelections.map(item => {
        return item.id
      })
      this.$confirm(`确定对[id=${roleIds.join(',')}]进行[${id ? '删除' : '批量删除'}]操作?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.$message({
        //   message: '操作成功',
        //   type: 'success',
        //   duration: 1500,
        //   onClose: () => {
        //     this.getDataList()
        //   }
        // })
        this.deleteList.list = roleIds
        servicesApi.deleteRolesById(this.deleteList).then(res => {
          // console.log(res.data)
          let code = res.data.code
          let data = res.data.data
          if (code === 200) {
            this.$message({
              message: '操作成功',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.pageIndex = 1//重置当前页
                this.getDataList()
              }
            })
          } else {
            this.$message.error(res.data.msg)
          }
        })

        // this.$http({
        //   url: this.$http.adornUrl('/sys/role/delete'),
        //   method: 'post',
        //   data: this.$http.adornData(roleIds, false)
        // }).then(({ data }) => {
        //   if (data && data.code === 0) {
        //     this.$message({
        //       message: '操作成功',
        //       type: 'success',
        //       duration: 1500,
        //       onClose: () => {
        //         this.getDataList()
        //       }
        //     })
        //   } else {
        //     this.$message.error(data.msg)
        //   }
        // })
      }).catch(() => { })
    }
  }
}
</script>
