<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-form-item label="bean名称" prop="beanName">
        <!-- {{ dataForm.beanName }} -->
        <el-input v-model="dataForm.beanName" 
        readonly placeholder="任务名称如: testTask"></el-input>
      </el-form-item>
      <el-form-item label="定时时间" prop="params">
        <el-input v-model="dataForm.params" placeholder="请输入定时时间，单位秒"></el-input>
      </el-form-item>
      <!-- <el-form-item label="cron表达式" prop="cronExpression">
        <el-input v-model="dataForm.cronExpression" placeholder="如: 0 0 12 * * ?"></el-input>
      </el-form-item> -->
      <el-form-item label="备注" prop="remark" disabled>
        <el-input readonly v-model="dataForm.remark" placeholder="备注"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
import servicesApi from '@/services/servicesApi'

  export default {
    data() {
      let validateTime = (rule, value, callback) => {
        if (value<500000) {
          callback(new Error('定时时间不少于50万秒'))
        } else {
          callback()
        }
      }
      return {
        visible: false,
        dataForm: {
          id: 0,
          beanName: '',
          params: '',
          cronExpression: '',
          remark: '',
          status: 0
        },
        dataRule: {
          beanName: [
            { required: true, message: '任务名称不能为空', trigger: 'blur' }
          ],
          params: [
            { required: true, message: '定时时间不能为空', trigger: 'blur' },
            { pattern: new RegExp('^[0-9]*[1-9][0-9]*$'), message: '请输入正整数类型的定时时间', trigger: 'blur' },
            { validator: validateTime, trigger: 'blur' }
          ],
          // cronExpression: [
          //   { required: true, message: 'cron表达式不能为空', trigger: 'blur' }
          // ]
        }
      }
    },
    methods: {
      init(row) {
        this.dataForm.id = row.jobId || 0
        this.visible = true
        // console.log(row)
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.dataForm = row
            // this.$http({
            //   url: this.$http.adornUrl(`/sys/schedule/info/${this.dataForm.id}`),
            //   method: 'get',
            //   params: this.$http.adornParams()
            // }).then(({data}) => {
            //   if (data && data.code === 0) {
            //     this.dataForm.beanName = data.schedule.beanName
            //     this.dataForm.params = data.schedule.params
            //     this.dataForm.cronExpression = data.schedule.cronExpression
            //     this.dataForm.remark = data.schedule.remark
            //     this.dataForm.status = data.schedule.status
            //   }
            // })
          }
        })
      },
      // 表单提交
      dataFormSubmit() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            servicesApi.timeTask(this.dataForm).then(res => {
              let code = res.data.code
              if (code === 200) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(res.data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
