<template>
  <el-card shadow="never" class="aui-card--fill">
    <el-form :inline="true" v-model="SearchForm"  @keydown.enter.native.prevent="getDataList()">
      <el-form-item>
        <el-input v-model="SearchForm.username" placeholder="用户名/姓名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataList()">查询</el-button>
        <el-button type="primary" @click="addOrUpdateHandle()">新增</el-button>
        <el-button  type="danger" @click="deleteHandle()"
          :disabled="dataListSelections.length <= 0">批量删除</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="dataList" border v-loading="dataListLoading" @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column type="selection" header-align="center" align="center" width="50">
      </el-table-column>
      <el-table-column prop="userId" header-align="center" align="center" width="80" label="ID">
      </el-table-column>
      <el-table-column prop="username" header-align="center" align="center" width="100" :show-overflow-tooltip="true" label="用户名">
      </el-table-column>
      <el-table-column prop="name" header-align="center" align="center"  width="80" :show-overflow-tooltip="true" label="姓名">
      </el-table-column>
      <el-table-column prop="state" header-align="center" align="center" label="身份">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.state === 3" size="small" type="danger" effect="plain">管理员</el-tag>
          <el-tag v-else-if="scope.row.state === 2" size="small" type="warning" effect="plain">教师</el-tag>
          <el-tag v-else-if="scope.row.state === 1" size="small" type="" effect="plain">学生</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="email" header-align="center" width="90" :show-overflow-tooltip="true" align="center" label="邮箱">
      </el-table-column>
      <el-table-column prop="phone" header-align="center" width="110" :show-overflow-tooltip="true" align="center" label="手机号">
      </el-table-column>
      <el-table-column prop="status" header-align="center" align="center" label="状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 0" size="small" type="danger">禁用</el-tag>
          <el-tag v-else size="small" type="success">正常</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="gmtCreate" header-align="center" align="center" sortable width="180" label="创建时间">
      </el-table-column>
      <el-table-column fixed="right" header-align="center" align="center" width="150" label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small"
            @click="addOrUpdateHandle(scope.row.userId, scope.row.state,scope.row)">修改</el-button>
          <el-button  type="text" size="small" @click="deleteHandle(scope.row.userId)">
            删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination @size-change="sizeChangeHandle" @current-change="currentChangeHandle" :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]" :page-size="pageSize" :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗, 新增 / 修改 -->
    <add-or-update v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="getDataList"></add-or-update>
  </el-card>
</template>

<script>
import AddOrUpdate from './user-add-or-update.vue'
import servicesApi from '@/services/servicesApi';
export default {
  data() {
    return {
      SearchForm: {
        username: ''
      },
      dataList: [
        // (new Date()).toLocaleDateString().toString() + " " + (new Date()).toLocaleTimeString().toString() 
        { userId: '1', username: '2020110223', state: 3, email: '1927470557@qq.com', phone: '139****7074', status: 1, gmtCreate: '2022-10-28'},
        { userId: '2', username: 'admin', state: 3, email: '1927470557@qq.com', phone: '139****7074', status: 0, gmtCreate: '2022-10-28' },
        { userId: '6', username: 'teacher', state: 2, email: '1927470557@qq.com', phone: '139****7074', status: 0, gmtCreate: '2022-10-28' },
        { userId: '12', username: 'bbq', state: 1, email: '1927470557@qq.com', phone: '139****7074', status: 1, gmtCreate: '2022-10-28' },
        { userId: '14', username: 'cc', state: 1, email: '1927470557@qq.com', phone: '139****7074', status: 0, gmtCreate: '2022-10-28' },
      ],
      pageIndex: 1,
      pageSize: 10,
      totalPage: 0,
      dataListLoading: false,
      dataListSelections: [],
      addOrUpdateVisible: false,
      deleteList: {
        list: []
      }
    }
  },
  components: {
    AddOrUpdate
  },
  // activated() {
  //   this.getDataList()
  // },
  created() {
    this.getDataList()
  },
  methods: {
    // 获取数据列表
    getDataList() {
      // this.dataListLoading = true
      // this.totalPage = this.dataList.length
      // this.dataListLoading = false

      this.dataListLoading = true
      let pageInfo = {
        current: this.pageIndex,
        size: this.pageSize,
        name: this.SearchForm.username
      }
      servicesApi.getUserList(pageInfo).then(res => {
        // console.log(res.data)
        let code =res.data.code
        let data = res.data.data
        if (code===200) {
          this.dataList = data.list
          this.totalPage = data.total
        } else {
          this.dataList = []
          this.totalPage = 0
        }
        this.dataListLoading = false
      })

      // this.$http({
      //   url: this.$http.adornUrl('/sys/user/list'),
      //   method: 'get',
      //   params: this.$http.adornParams({
      //     'page': this.pageIndex,
      //     'limit': this.pageSize,
      //     'username': this.dataForm.userName
      //   })
      // }).then(({ data }) => {
      //   if (data && data.code === 0) {
      //     this.dataList = data.page.list
      //     this.totalPage = data.page.totalCount
      //   } else {
      //     this.dataList = []
      //     this.totalPage = 0
      //   }
      //   this.dataListLoading = false
      // })
    },
    // 每页数
    sizeChangeHandle(val) {
      this.pageSize = val
      this.pageIndex = 1
      this.getDataList()
    },
    // 当前页
    currentChangeHandle(val) {
      this.pageIndex = val
      this.getDataList()
    },
    // 多选
    selectionChangeHandle(val) {
      this.dataListSelections = val
      // console.log('多选')
      // console.log(this.dataListSelections)
    },
    // 新增 / 修改
    addOrUpdateHandle(id, state) {
      this.addOrUpdateVisible = true
      this.$nextTick(() => {
         // 当数据被修改后使用这个方法，会回调获取更新后的dom再渲染出来
        this.$refs['addOrUpdate'].init(id, state)
      })
    },
    // 删除
    deleteHandle(id) {
      let userIds = id ? [id] : this.dataListSelections.map(item => {
        return item.userId
      })
      // console.log(userIds)
      this.$confirm(`确定对[id=${userIds.join(',')}]进行[${id ? '删除' : '批量删除'}]操作?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.res = this.res.filter(item => item.userId != id); //删除数据
        // // console.log(this.res)
        // this.$message({
        //   message: '操作成功',
        //   type: 'success',
        //   duration: 1500,
        //   onClose: () => {
        //     this.getDataList()
        //   }
        // })
        this.deleteList.list =userIds
        servicesApi.deleteUsersById(this.deleteList).then(res => {
          // console.log(res.data)
          let code = res.data.code
          if (code === 200) {
            this.$message({
              message: '操作成功',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.getDataList()
              }
            })
          } else {
            this.$message.error(res.data.msg)
          }
        })

        // this.$http({
        //   url: this.$http.adornUrl('/sys/user/delete'),
        //   method: 'post',
        //   data: this.$http.adornData(userIds, false)
        // }).then(({ data }) => {
        //   if (data && data.code === 0) {
        //     // console.log(this.res)
        //     this.$message({
        //       message: '操作成功',
        //       type: 'success',
        //       duration: 1500,
        //       onClose: () => {
        //         this.getDataList()
        //       }
        //     })
        //   } else {
        //     this.$message.error(data.msg)
        //   }
        // })
      }).catch(() => { })
    }
  }
}
</script>
