<template>
  <el-card shadow="never" class="aui-card--fill">
    <!-- <h2 style="text-align: center;">中期答辩安排</h2> -->
    <div style="margin-top:5%;margin-left:30%;">
      <el-form ref="tableData" :model="tableData" label-width="120px">
        <el-form-item label="指导老师  :   " prop="tusername">
          {{tableData.teaName}}
          <!-- <el-input v-model="tableData.tusername" readonly></el-input> -->
        </el-form-item>
        <el-form-item label="答辩老师1  :   " prop="teaname1">
          {{tableData.teaname1}}
          <!-- <el-input v-model="tableData.teaName1" readonly></el-input> -->
        </el-form-item>
        <el-form-item label="答辩老师2  :   " prop="teaname2">
          {{tableData.teaname2}}
          <!-- <el-input v-model="tableData.teaName2" readonly ></el-input> -->
        </el-form-item>
        <el-form-item label="答辩老师3  :   " prop="teaname3">
          {{tableData.teaname3}}
          <!-- <el-input v-model="tableData.teaName3" readonly></el-input> -->
        </el-form-item>
        <el-form-item label="答辩老师4  :   " prop="teaname4">
          {{tableData.teaname4}}
          <!-- <el-input v-model="tableData.teaName4" readonly></el-input> -->
        </el-form-item>
        <el-form-item label="中期答辩时间  :  " prop="starttime">
          {{tableData.starttime}}
          <!-- <el-input v-model="tableData.startTime" readonly></el-input> -->
        </el-form-item>
        <el-form-item label="中期答辩地点  :   " prop="place">
          {{tableData.place}}
          <!-- <el-input v-model="tableData.place" readonly></el-input> -->
        </el-form-item>
      </el-form>
    </div>
  </el-card>
</template>
   <!-- <template>
     <div>
       <el-table
           fixed
           stripe
           border
           :cell-style="{textAlign: 'center'}"
           :header-cell-style="{textAlign: 'center'}"
           :height="450"
           :data="tableData"
           tooltip-effect="dark"
           style="width: 100%">
         <el-table-column  prop="tusername"  label="指导老师"></el-table-column>
         <el-table-column  prop="teaName1"  label="答辩老师1"></el-table-column>
         <el-table-column  prop="teaName2"  label="答辩老师2"></el-table-column>
         <el-table-column  prop="teaName3"  label="答辩老师3"></el-table-column>
         <el-table-column  prop="teaName4"  label="答辩老师4"></el-table-column>
         <el-table-column  prop="startTime"  label="答辩时间"></el-table-column>
         <el-table-column  prop="place"  label="答辩教室"></el-table-column>
       </el-table>
     </div>
   </template> -->
   
   <script>
import servicesApi from '@/services/servicesApi';
export default {
  data () {
    return {
      tableData:
      {
        teaName: '',
        tusername: '',
        teaname1: '',
        teaname2: '',
        teaname3: '',
        teaname4: '',
        starttime: '',
        place: ''
      }

    }
  },
  created () {
    this.stuzhonqifindarrangeApi()//生命周期
  },
  methods: {
    // 请求列表
    stuzhonqifindarrangeApi () {
      servicesApi.stuzhonqifindarrangeApi().then(res => {
        // console.log(res.data)
        let code = res.data.code
        let data = res.data.data
        if (code === 200) {
          this.tableData = data[0]
          // console.log(this.tableData)
        } else {
          this.tableDate = []
          this.$message.error(res.data.msg)
        }
      })
    }
  },
};
   </script>