<template>
  <div id="app">
    <router-view/> 
  </div>
</template>
<script>
</script>
<style>
/* // 进度条自定义颜色 */     
    #nprogress .bar { 
      background: #67C23A !important;
      height: 5px !important;
    }
</style>
