<template>
  <div id="footer">
    <div class="try">
      <p class="text_one">毕业设计过程管理及质量控制综合服务智能平台
      </p>
      <div>© All Right Reserved . GDPMS 版权所有备案号：蜀ICP备2023******号</div>
      <div>
        <button>联系我们</button>
        <button>用户指南</button>
      </div>
    </div>
    <div class="authority">
      <div class="authority_all">
        <div>狮子山校区：成都市锦江区静安路5号 (邮编:610066)</div>
        <div>成龙校区：成都市龙泉驿区成龙大道二段1819号 (邮编:610101)</div>
      </div>
    </div>
  </div>
</template>
<script>
import servicesApi from '@/services/servicesApi';

export default {
  name: 'Footer',
  data () {
    return {};
  },
  methods: {

  }
}
</script>
<style scoped>
#footer {
  /* height:80% */
  /* min-height: 22%; */
  width: 100%;
  position: absolute;
  background-color: #e8ecee;
  z-index: 1021;
}

.logo {
  width: 100px;
  height: 100%;
  float: left;
  margin-left: -80px;
  position: relative;
}

.logo img {
  width: 65px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.try {
  display: flex;
  height: 40%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* background-color: #409eff; */
  /* background-color: #ffffff; */
}
.try > div > button {
  display: inline-flex;
  margin: 15px;
  border-radius: 19px;
  padding: 0 33px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  line-height: 36px;
  background: #fff;
  border: 1px solid #fff;
  transition: all ease 0.8s;
}

.try > div > button:hover {
  background-color: rgb(59, 59, 82);
  color: white;
}

.text_one {
  /* font-size: 28px; */
  color: black;
  /* line-height: 45px; */
  letter-spacing: 4px;
}

.authority {
  height: 60%;
  width: 100%;
  /* background-color: #409eff; */
  /* background-color: #ffffff; */
  color: #5c5758;
}

.authority_other {
  display: flex;
  justify-content: space-around;
  height: 65%;
}

.authority_other > div > div {
  padding: 4px 0;
}

.authority_all {
  display: flex;
  /* padding-top: 10px; */
  padding-bottom: 20px;
  flex-direction: row;
  /* background-color: rgb(168, 74, 74); */
  /* height: calc(35% - 48px); */
  text-align: center;
  /* justify-content: space-between; */
  justify-content: center;
}

.authority_all > div {
  margin-left: 50px;
  /* width: 100%; */
  padding: 6px 0;
}
</style>