<template>
  <el-card shadow="never" class="aui-card--fill">
    <div class="content">
      <div class="HomeItem">
        <show-notice></show-notice>
      </div>
      <!-- <div class="HomeItem">
        <depart-info />
      </div> -->
      <div class="content">
        <progress-bar></progress-bar>
      </div>
    </div>
  </el-card>
</template>
<script>
import ShowNotice from '@/views/components/NoticeShow.vue'
import DepartInfo from '@/views/components/DepartInfo.vue'
import ProgressBar from '@/views/components/ProgrossBar.vue'
export default {
  data () {
    return {}
  },
  created () {
    this.getDataList()
  },
  components: {
    ShowNotice,
    DepartInfo,
    ProgressBar
  },
  methods: {
    //
    getDataList: function () {
      this.dataListLoading = true
      servicesApi.getNoticeAll().then(res => {
        // console.log(res.data)
        let code = res.data.code
        let data = res.data.data
        if (code === 200) {
          this.dataList = data
          this.showDataList = this.dataList.slice((this.page - 1) * this.limit, this.page * this.limit);   // 抓取区间数据
          this.total = data.length
        } else {
          this.dataList = []
          this.showDataList = []
          this.total = 0
        }
        this.dataListLoading = false
      })


      // },
    }
  }
}
</script>
<style scoped>
.content {
  width: 100%;
  height: 100%;
  /* background-color: #f0f3f4; */
  position: relative;
  padding: 10px;
}
.HomeItem {
  width: 75%;
  display: inline-flex;
  float: inline-start;
  /* margin: 10px 10px; */
  padding: 10px;
  margin-left: 150px;

  /* background-color: #eff2f3; */
  /* justify-content:flex-end; */
  /* align-items:center; */
  /* overflow: visible; */
  min-height: 50vh;
}
.HomeItem1 {
  width: 100%;
  display: inline-flex;
  padding: 10px;
  margin-top: 20px;
  min-height: 58vh;
}
</style>
