<template>
  <el-submenu v-if="menu.children && menu.children.length >= 1" :index="menu.permId.toString()" :popper-append-to-body="false">
    <template slot="title">
      <svg class="icon-svg aui-sidebar__menu-icon" aria-hidden="true">
        <use :xlink:href="`#${menu.icon}`"></use>
      </svg>
      <!-- <i slot="prefix" class="el-icon-circle-check"> </i> -->
      <span icon="el-icon-circle-check">{{ menu.permsName }}</span>
    </template>
    <sub-menu v-for="item in menu.children" :key="item.permId.toString()" :menu="item"></sub-menu>
  </el-submenu>
  <el-menu-item v-else :index="menu.permId.toString()" @click="gotoRouteHandle(menu.permId.toString())">
    <svg class="icon-svg aui-sidebar__menu-icon" aria-hidden="true">
      <use :xlink:href="`#${menu.icon}`"></use>
    </svg>
    <span>{{ menu.permsName }}</span>
  </el-menu-item>
</template>

<script>
import SubMenu from '@/views/components/NavAsideSubMenu.vue'
export default {
  name: 'sub-menu',
  props: {
    menu: {
      type: Object,
      required: true
    }
  },
  components: {
    SubMenu
  },
  methods: {
    // 通过menuId与动态(菜单)路由进行匹配跳转至指定路由
    gotoRouteHandle (menuId) {
      // // console.log('menuId=%s',menuId)
      let route = window.SITE_CONFIG['dynamicMenuRoutes'].filter(item => item.meta.menuId === menuId)[0]
      // console.log('window.SITE_CONFIG=')
      // console.log(window.SITE_CONFIG['dynamicMenuRoutes'])
      // console.log(route)
      if (route) {
        // console.log(route.name)
        // console.log(route.path)
        this.$router.push({ name: route.name })
        // this.$router.push(${route.pash}`)
        // this.$router.push(`Admin/user`)
      }
    }
  }
}
</script>
