<template>
  <el-card>
    <el-descriptions class="margin-top" title="公告" :column="1" size="mini" :colon="false">
      <template slot="extra">
        <!-- <el-button type="primary" size="small">操作</el-button> -->
        <el-button type="primary" size="mini" @click="childHandleMore()">更多</el-button>
      </template>
      <el-descriptions-item v-for="(item, index) in showDataList" :contentStyle="{ 'text-align': 'justify'}" :key="item.id">

        <div class="noticeButton">
          <el-badge v-if="index<3" value="hot" class="hotItem">
            <el-button type="text" size="mini" @click="childHandle(item)" show-overflow-tooltip>{{
                item.noticeTopic }}</el-button>
          </el-badge>
          <el-badge v-if="index>=3" value="">
            <el-button type="text" size="mini" @click="childHandle(item)" show-overflow-tooltip>{{
                item.noticeTopic }}</el-button>
          </el-badge>

        </div>

        <div class="time">
          {{ item.createtime }}
        </div>

      </el-descriptions-item>

      <!-- <el-row :gutter="0" v-for="item in showDataList">
        <el-col :span="16">
          <div class="grid-content bg-purple">
            <el-descriptions-item label="" show-overflow-tooltip>
              <template slot-scope="scope">
                <el-button type="text" size="small" @click="childHandle(item)">{{ item.noticeTopic }}</el-button>
              </template>
            </el-descriptions-item>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="grid-content bg-purple-light">
            <el-descriptions-item label="">
              {{ item.createtime}}
            </el-descriptions-item>
          </div>
        </el-col>
      </el-row> -->
    </el-descriptions>

  </el-card>
</template>

<script>
// import AddOrUpdate from './notice-add-or-update.vue'
import { addDynamicRoute } from '@/router'
import servicesApi from '@/services/servicesApi'
export default {
  data () {
    return {
      dataForm: {
        id: 0,
        describe: null,
      },               // 查询条件
      showDataList: [],
      dataList: [
        {
          id: 11,
          userId: 0,
          createby: '李西茵',
          username: '2020110228',
          target: 0, //0全体用户，1学生,2教师
          noticeTopic: '关于毕设答辩的通知',
          noticeContent: '',
          createtime: '',
          gmtCreate: '2022-12-10 21:14:10',
          gmtModified: '2022-12-10 21:14:10',
          createDate: '',
          version: 0,
          deleted: 0,
        },
      ],               // 数据列表
      order: '',                  // 排序，asc／desc
      orderField: '',             // 排序，字段
      page: 1,                    // 当前页码
      limit: 5,                  // 每页数
      total: 0,                   // 总条数
      dataListLoading: false,     // 数据列表，loading状态
      dataListSelections: [],     // 数据列表，多选项
      addOrUpdateVisible: false,   // 新增／更新，弹窗visible状态
    }
  },
  created () {
    this.getDataList()
  },
  components: {
    // AddOrUpdate
  },
  methods: {
    childHandleMore () {
      const routeParams = {
        routeName: `${this.$route.name}__通知公告`,
        title: `${this.$route.meta.title}-通知公告`,
        path: 'components/NoticeMore',
        params: {
          // id: row !== undefined ? row.id : 0
        }
      }
      // 动态路由
      addDynamicRoute(routeParams, this.$router)
    },
    // 子级
    childHandle (row) {
      // // console.log(row)
      // 路由参数
      const routeParams = {
        routeName: `${this.$route.name}__${row !== undefined ? row.id : 0}`,
        title: `${this.$route.meta.title}-公告详情`,
        path: 'components/NoticeInfo',
        params: {
          id: row !== undefined ? row.id : 0,
          notice: row,
        }
      }
      // 动态路由
      addDynamicRoute(routeParams, this.$router)
    },
    searchNotice () { //全文模糊查询公告
      if (this.dataForm.describe === null || this.dataForm.describe === '') {
        // console.log('查询条件为空')
        return this.getDataList()
      }
      this.dataListLoading = true
      servicesApi.getNoticeList(this.dataForm.describe).then(res => {
        // console.log(res.data)
        let code = res.data.code
        let data = res.data.data
        if (code === 200) {
          this.dataList = data
          this.showDataList = this.dataList.slice((this.page - 1) * this.limit, this.page * this.limit);   // 抓取区间数据
          this.total = data.length
        } else {
          this.dataList = []
          this.showDataList = []
          this.total = 0
        }
        this.dataListLoading = false
      })
    },
    getDataList: function () {//初始化页面获取所有公告
      // this.dataListLoading = true
      // this.total = this.dataList.length
      // this.dataListLoading = false

      this.dataListLoading = true
      servicesApi.getHomeNotice().then(res => {
        // console.log(res.data)
        let code = res.data.code
        let data = res.data.data
        if (code === 200) {
          this.dataList = data
          this.showDataList = this.dataList.slice((this.page - 1) * this.limit, this.page * this.limit);   // 抓取区间数据
          this.total = data.length
        } else {
          this.dataList = []
          this.showDataList = []
          this.total = 0
        }
        this.dataListLoading = false
      })


    },

    // 多选
    dataListSelectionChangeHandle (val) {
      this.dataListSelections = val
    },
    // 排序
    dataListSortChangeHandle (data) {
      // if (!data.order || !data.prop) {
      //   this.order = ''
      //   this.orderField = ''
      //   return false
      // }
      // this.order = data.order.replace(/ending$/, '')
      // this.orderField = data.prop.replace(/([A-Z])/g, '_$1').toLowerCase()
      // this.getDataList()
    },
    // 分页, 每页条数
    pageSizeChangeHandle (val) {
      this.page = 1
      this.limit = val
      // this.getDataList()
      this.showDataList = this.dataList.slice((this.page - 1) * this.limit, this.page * this.limit);   // 抓取区间数据
    },
    // 分页, 当前页
    pageCurrentChangeHandle (val) {
      this.page = val
      // this.getDataList()
      this.showDataList = this.dataList.slice((this.page - 1) * this.limit, this.page * this.limit);   // 抓取区间数据
    },

    // 新增 / 修改
    addOrUpdateHandle (id) {
      this.addOrUpdateVisible = true
      this.$nextTick(() => {
        this.$refs.addOrUpdate.init(id)
      })
    },
    // 关闭当前窗口
    closeCurrentTab (data) {
      let tabName = this.$store.state.contentTabsActiveName
      this.$store.state.contentTabs = this.$store.state.contentTabs.filter(item => item.name !== tabName)
      if (this.$store.state.contentTabs.length <= 0) {
        this.$store.state.sidebarMenuActiveName = this.$store.state.contentTabsActiveName = 'home'
        return false
      }
      if (tabName === this.$store.state.contentTabsActiveName) {
        this.$router.push({ name: this.$store.state.contentTabs[this.$store.state.contentTabs.length - 1].name })
      }
    },
    // 删除
    deleteHandle (id) {

      let noticeIds = id ? [id] : this.dataListSelections.map(item => {
        return item.id
      })
      // console.log(noticeIds)

      this.$confirm(`确定对[id=${noticeIds.join(',')}]进行[${id ? '删除' : '批量删除'}]操作?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        servicesApi.deleteNoticeByIds(noticeIds).then(res => {
          if (res.data.code !== 200) {
            return this.$message.error(res.data.msg)
          }
          this.$message({
            message: '删除成功',
            type: 'success',
            duration: 1000,
            onClose: () => {
              this.getDataList()
            }
          })
        })
      }).catch(() => { })
      // if (this.mixinViewModuleOptions.deleteIsBatch && !id && this.dataListSelections.length <= 0) {
      //   return this.$message({
      //     message: this.$t('prompt.deleteBatch'),
      //     type: 'warning',
      //     duration: 500
      //   })
      // }
      // this.$confirm(this.$t('prompt.info', { 'handle': this.$t('delete') }), this.$t('prompt.title'), {
      //   confirmButtonText: this.$t('confirm'),
      //   cancelButtonText: this.$t('cancel'),
      //   type: 'warning'
      // }).then(() => {
      //   this.$http.delete(
      //     `${this.mixinViewModuleOptions.deleteURL}${this.mixinViewModuleOptions.deleteIsBatch ? '' : '/' + id}`,
      //     this.mixinViewModuleOptions.deleteIsBatch ? {
      //       'data': id ? [id] : this.dataListSelections.map(item => item[this.mixinViewModuleOptions.deleteIsBatchKey])
      //     } : {}
      //   ).then(({ data: res }) => {
      //     if (res.code !== 0) {
      //       return this.$message.error(res.msg)
      //     }
      //     this.$message({
      //       message: this.$t('prompt.success'),
      //       type: 'success',
      //       duration: 500,
      //       onClose: () => {
      //         this.getDataList()
      //       }
      //     })
      //   }).catch(() => {})
      // }).catch(() => { })
    },
    // 导出
    exportHandle () {
      // var params = qs.stringify({
      //   'token': Cookies.get('token'),
      //   ...this.dataForm
      // })
      // window.location.href = `${window.SITE_CONFIG['apiURL']}${this.mixinViewModuleOptions.exportURL}?${params}`
    }
  }
}
</script>
<style scoped>
.noticeButton {
  width: 270px;
  text-align: left;
  overflow: hidden;
  /* background-color: #3b6c7c; */
}
.time {
  text-align: right;
  width: 30%;
  /* overflow:hidden; */
  /* background-color: blanchedalmond; */
}
.hotItem {
  margin-top: 10px;
  /* margin-right: 40px; */
}
</style>
