<template>
  <div class="margin-top">
    <!-- <el-steps :active="activeStep" align-center> -->
    <el-steps :active="5" align-center>
      <el-step title="选题" description="2023.9.15--2023.10.15"></el-step>
      <el-step title="提交开题报告" description="2023.10.16--2023.11.15"></el-step>
      <el-step title="提交指导记录" description="2023.11.16--2023.12.15"></el-step>
      <el-step title="中期答辩" description="2024.1.16--2024.2.15"></el-step>
      <el-step title="提交论文" description="2024.2.16--2024.3.15"></el-step>
      <el-step title="期末答辩" description="2024.3.16--2024.4.15"></el-step>
      <el-step title="提交毕设材料" description="2024.4.16--2024.5.15"></el-step>
    </el-steps>
  </div>
</template>
  
  <script>

  // import servicesApi from '@/services/servicesApi';
  // export default {
  //   data() {
  //     return {
  //       activeStep: 0
  //     };
  //   },
  //   mounted() {
  //     this.getActiveStep();
  //   },
  //   methods: {
  //     getActiveStep(){
  //       servicesApi.getActiveStepApi().then(res => {
  //          // console.log(res.data)
  //          let code =res.data.code
  //          let data = res.data.data
  //          if (code === 200) {
  //          this.activeStep = data.activeStep
  //          // console.log(this.tableData)
  //          } else {
  //             this.$message.error(res.data.msg)
  //          }
  //        })
  //     }
  //   }
  // };
  </script>